# --- NestJS / Node.js ---
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/coverage
/.nyc_output
.env
.env.test
.env.production
.DS_Store

# --- Terraform ---
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# --- AWS / Local IDE ---
.aws/
.idea/
.vscode/
*.swp
*.bak
*.tmp

# --- Docker ---
docker-compose.override.yml

TODO